@font-face {
    font-family: "Function Symbols";
	src:url('chrome-extension://__MSG_@@extension_id__/content/css/symbols.otf');
}
@font-face {
    font-family: Roboto;
	src:url('chrome-extension://__MSG_@@extension_id__/content/css/Roboto-Light.ttf');
}
@font-face {
    font-family: "PT MONO";
	src:url('chrome-extension://__MSG_@@extension_id__/content/css/PTM55F.ttf');
}

#keyboardDiv{
	position: fixed !important;
  box-sizing: border-box;
	right: 50px;
	bottom: 50px;
	width: 451px;
	z-index: 1000000000000;
	color: #fcfcfc;
	font-family: Roboto;
	
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
#aftan-keyboard{
	margin: 0;
	padding-top: 1px;
	height: 156px;
	background-color: #000;
	width: 100%;
	box-sizing: border-box;
	
	font-size: 15px;

}

#keyboardDragger{
  box-sizing: border-box;
  background: #444;
  height: 25px;
  cursor: pointer;
  position: relative;
  border: 1px solid #000;
  border-bottom: 0px;
  font-size: 14px;
      
}

#keyboardDragger > #languageTitle{
   /* font-family: "PT MONO";*/
	letter-spacing: 3px;
  box-sizing: border-box;
	height: 100%;
	display: inline-block;
	width: 43px;
  line-height: 27px;
  padding-left: 10px;
}

#keyboardDragger #controlsDiv{
	display: inline-block;
	width: 25px;
	position: absolute;
	right: 0;
	height:  100%;
}

#keyboardDragger > #controlsDiv > #close{
	font-family: "Function Symbols";
	line-height: 25px;
	box-sizing: border-box;
	display: inline-block;
	width: 25px;
	height:  100%;
	text-align: center;
}

.aftan-keyboard-line{
  margin-top: 1px;
  margin-left: 1px;
}
.aftan-keyboard-line:first-child{
  margin-top: 0px;
}

.aftan-keyboard-key{
  box-sizing: border-box;
  background-color: #444;
  margin-left: 1px;
  width: 30px;
  height: 30px;
  line-height: 27px;
  text-align: center;
  display: inline-block;
  cursor: pointer;
  vertical-align: middle;
  /*transition: font-size 0.4s, box-shadow 0.4s;*/

}
.aftan-keyboard-key[clicked = 'true'] {
  box-shadow: inset 1px 1px 2px #323232, inset -1px -1px 2px #323232;
/*  background-color: rgb(94, 94, 94);*/
  color: #fff;
  font-size: 14px;
}

.aftan-keyboard-key:first-child{
  margin-left: 0;
}

#keyboardDiv[minimized = 'true'] > #aftan-keyboard{
	display: none;
}

#keyboardDiv[minimized = 'true'] > #keyboardDragger > #controlsDiv > #minimize {
	background: #078585;
}



.aftan-keyboard-key[sidein="left"]{
	text-align: left;
	padding-left: 10px;
}
.aftan-keyboard-key[sidein="right"]{
	text-align: right;
	padding-right: 10px;
}



.keyCaps, .keyBackspace, .keyDelete{
	width: 46px;
}

.keyCaps, .keyBackspace, .keyDelete, .keyShift, .keyEnter{
    font-family: "Function Symbols";
}

.keyNextLanguage{
	width: 77px;
}
.keySpace{
	width: 217px;
}
.keyAddit, .keyAdditLong{
	width: 76px;
}
.keyEnter{
	width: 61px;
}
.keyShiftEnter{
	width: 76px;
}
.keyShift{
	width: 69px;
}
.keyAdditLong{
	text-decoration: underline;
}