/*********************      FONT        *********************************/
@font-face {
    font-family: "Function Symbols";
	src:url('chrome-extension://__MSG_@@extension_id__/include/fonts/symbols.otf');
}
@font-face {
	font-family: Roboto;
	src:url('chrome-extension://__MSG_@@extension_id__/include/fonts/Roboto-Light.ttf');
}
#keyboardDiv{
	font-family: Roboto;
}
#keyboardDiv .keyCaps, #keyboardDiv .keyBackspace, #keyboardDiv .keyDelete, #keyboardDiv .keyShift, #keyboardDiv .keyEnter{
	font-family: "Function Symbols";
}

/*********************      BASIC        *********************************/
#keyboardDiv{
  box-sizing: border-box;
	position: fixed !important;
	z-index: 1000000000000;
	-webkit-user-select: none;
}
#keyboardDiv #aftan-keyboard{
	margin: 0;
	width: 100%;
	box-sizing: border-box;
}
#keyboardDiv #keyboardDragger{
  box-sizing: border-box;
  cursor: pointer;
  position: relative;
}
#keyboardDiv #keyboardDragger > #languageTitle{
  box-sizing: border-box;
	height: 100%;
	display: inline-block;
}
#keyboardDiv .aftan-keyboard-key{
  box-sizing: border-box;
  text-align: center;
  display: inline-block;
  cursor: pointer;
  vertical-align: middle;
}
#keyboardDiv .aftan-keyboard-key[sidein="left"]{
	text-align: left;
}
#keyboardDiv .aftan-keyboard-key[sidein="right"]{
	text-align: right;
}



/*************      Black      *************/
#keyboardDiv[color="black"]{
	color: #fcfcfc;
}
#keyboardDiv[color="black"] #aftan-keyboard{
	background-color: #000;
}
#keyboardDiv[color="black"] #keyboardDragger{
  background: #444;
}
#keyboardDiv[color="black"] .aftan-keyboard-key{
  background-color: #444;
}
#keyboardDiv[color="black"] .aftan-keyboard-key[clicked = 'true'] {
  box-shadow: inset 1px 1px 2px #323232, inset -1px -1px 2px #323232;
  color: #fff;
}

/*************      1x  BLACK    *************/
#keyboardDiv[color="black"][size="1x"]{
	width: 451px;
}
#keyboardDiv[color="black"][size="1x"] #aftan-keyboard{
	height: 156px;
	font-size: 15px;
	padding-top: 1px;
}
#keyboardDiv[color="black"][size="1x"] #keyboardDragger{
  height: 25px;
  position: relative;
  font-size: 14px;
}
#keyboardDiv[color="black"][size="1x"]  #languageTitle{
	letter-spacing: 3px;
  line-height: 27px;
  padding-left: 10px;
	width: 400px;
}
#keyboardDiv[color="black"][size="1x"] .aftan-keyboard-line{
  margin-top: 1px;
  margin-left: 1px;
}
#keyboardDiv[color="black"][size="1x"] .aftan-keyboard-line:first-child{  margin-top: 0px; }
#keyboardDiv[color="black"][size="1x"] .aftan-keyboard-key{
  margin-left: 1px;
  width: 30px;
  height: 30px;
  line-height: 27px;
}
#keyboardDiv[color="black"][size="1x"] .aftan-keyboard-key[clicked = 'true'] { font-size: 14px; }
#keyboardDiv[color="black"][size="1x"] .aftan-keyboard-key:first-child{ margin-left: 0 }
#keyboardDiv[color="black"][size="1x"] .aftan-keyboard-key[sidein="left"]{	padding-left: 10px }
#keyboardDiv[color="black"][size="1x"]  .aftan-keyboard-key[sidein="right"]{	padding-right: 10px }
#keyboardDiv[color="black"][size="1x"] .keyBackspace,
	#keyboardDiv[color="black"][size="1x"] .keyDelete{	width: 46px }
#keyboardDiv[color="black"][size="1x"] .keySpace{	width: 247px }
#keyboardDiv[color="black"][size="1x"] .keyNextLanguage,
  #keyboardDiv[color="black"][size="1x"] .keyAddit{	width: 100px }
#keyboardDiv[color="black"][size="1x"] .keyCaps{	width: 53px }
#keyboardDiv[color="black"][size="1x"] .keyEnter{	width: 54px }
#keyboardDiv[color="black"][size="1x"] .keyShift{ width: 69px }

/*************      1.5x  BLACK    *************/
#keyboardDiv[color="black"][size="1.5x"]{
	width: 680px;
}
#keyboardDiv[color="black"][size="1.5x"] #aftan-keyboard{
	height: 233px;
	font-size: 24px;
}
#keyboardDiv[color="black"][size="1.5x"] #keyboardDragger{
  height: 38px;
  position: relative;
  font-size: 21px;
  border-bottom: 2px solid #000;
}
#keyboardDiv[color="black"][size="1.5x"]  #languageTitle{
	letter-spacing: 4px;
  line-height: 41px;
  padding-left: 15px;
	width: 43px;
}
#keyboardDiv[color="black"][size="1.5x"] .aftan-keyboard-line{
  margin-top: 2px;
}
#keyboardDiv[color="black"][size="1.5x"] .aftan-keyboard-line:first-child{  margin-top: 0px; }
#keyboardDiv[color="black"][size="1.5x"] .aftan-keyboard-key{
  margin-left: 2px;
  width: 45px;
  height: 45px;
  line-height: 41px;
}
#keyboardDiv[color="black"][size="1.5x"] .aftan-keyboard-key:first-child{ margin-left: 0 }
#keyboardDiv[color="black"][size="1.5x"] .aftan-keyboard-key[sidein="left"]{	padding-left: 15px }
#keyboardDiv[color="black"][size="1.5x"]  .aftan-keyboard-key[sidein="right"]{	padding-right: 15px }
#keyboardDiv[color="black"][size="1.5x"] .keyBackspace,
	#keyboardDiv[color="black"][size="1.5x"] .keyDelete{	width: 69px }
#keyboardDiv[color="black"][size="1.5x"] .keyNextLanguage,
  #keyboardDiv[color="black"][size="1.5x"] .keyAddit{	width:151px }
#keyboardDiv[color="black"][size="1.5x"] .keySpace{	width: 374px }
#keyboardDiv[color="black"][size="1.5x"] .keyCaps{	width: 80px }
#keyboardDiv[color="black"][size="1.5x"] .keyEnter{	width: 81px }
#keyboardDiv[color="black"][size="1.5x"] .keyShift{ width: 104px }

/*************      1.7x  BLACK    *************/
#keyboardDiv[color="black"][size="1.7x"]{
	width: 810px;
}
#keyboardDiv[color="black"][size="1.7x"] #aftan-keyboard{
	height: 278px;
	font-size: 28px;
}
#keyboardDiv[color="black"][size="1.7x"] #keyboardDragger{
  height: 45px;
  position: relative;
  font-size: 25px;
  border-bottom: 2px solid #000;
}
#keyboardDiv[color="black"][size="1.7x"]  #languageTitle{
	letter-spacing: 5px;
  line-height: 49px;
  padding-left: 18px;
	width: 49px;
}
#keyboardDiv[color="black"][size="1.7x"] .aftan-keyboard-line{
  margin-top: 2px;
}
#keyboardDiv[color="black"][size="1.7x"] .aftan-keyboard-line:first-child{  margin-top: 0px; }
#keyboardDiv[color="black"][size="1.7x"] .aftan-keyboard-key{
  margin-left: 2px;
  width: 54px;
  height: 54px;
  line-height: 49px;
}
#keyboardDiv[color="black"][size="1.7x"] .aftan-keyboard-key:first-child{ margin-left: 0 }
#keyboardDiv[color="black"][size="1.7x"] .aftan-keyboard-key[sidein="left"]{	padding-left: 15px }
#keyboardDiv[color="black"][size="1.7x"]  .aftan-keyboard-key[sidein="right"]{	padding-right: 15px }
#keyboardDiv[color="black"][size="1.7x"] .keyBackspace,
	#keyboardDiv[color="black"][size="1.7x"] .keyDelete{	width: 82px }
#keyboardDiv[color="black"][size="1.7x"] .keyNextLanguage,
  #keyboardDiv[color="black"][size="1.7x"] .keyAddit{	width:180px }
#keyboardDiv[color="black"][size="1.7x"] .keySpace{	width: 446px }
#keyboardDiv[color="black"][size="1.7x"] .keyCaps{	width: 96px }
#keyboardDiv[color="black"][size="1.7x"] .keyEnter{	width: 96px }
#keyboardDiv[color="black"][size="1.7x"] .keyShift{ width: 124px }

/*************      2x  BLACK    *************/
#keyboardDiv[color="black"][size="2x"]{
	width: 898px;
}
#keyboardDiv[color="black"][size="2x"] #aftan-keyboard{
	height: 308px;
	font-size: 30px;
}
#keyboardDiv[color="black"][size="2x"] #keyboardDragger{
  height: 50px;
  position: relative;
  font-size: 28px;
  border-bottom: 2px solid #000;;
}
#keyboardDiv[color="black"][size="2x"]  #languageTitle{
	letter-spacing: 6px;
  line-height: 54px;
  padding-left: 20px;
	width: 86px;
}
#keyboardDiv[color="black"][size="2x"] .aftan-keyboard-line{
  margin-top: 2px;
}
#keyboardDiv[color="black"][size="2x"] .aftan-keyboard-line:first-child{  margin-top: 0px; }
#keyboardDiv[color="black"][size="2x"] .aftan-keyboard-key{
  margin-left: 2px;
  width: 60px;
  height: 60px;
  line-height: 54px;
}
#keyboardDiv[color="black"][size="2x"] .aftan-keyboard-key:first-child{ margin-left: 0 }
#keyboardDiv[color="black"][size="2x"] .aftan-keyboard-key[sidein="left"]{	padding-left: 20px }
#keyboardDiv[color="black"][size="2x"]  .aftan-keyboard-key[sidein="right"]{	padding-right: 20px }
#keyboardDiv[color="black"][size="2x"] .keyBackspace,
	#keyboardDiv[color="black"][size="2x"] .keyDelete{	width: 92px }
#keyboardDiv[color="black"][size="2x"] .keyNextLanguage{	width: 200px }
#keyboardDiv[color="black"][size="2x"] .keySpace{	width: 494px }
#keyboardDiv[color="black"][size="2x"] .keyAddit{	width: 200px }
#keyboardDiv[color="black"][size="2x"] .keyCaps,
  #keyboardDiv[color="black"][size="2x"] .keyEnter{	width: 107px }
#keyboardDiv[color="black"][size="2x"] .keyShift{ width: 138px }

/*************      WHITE      *************/
#keyboardDiv[color="white"]{
	color: #424242;
  border: 1px solid #cdcdcd;
}
#keyboardDiv[color="white"] #aftan-keyboard ,#keyboardDiv[color="white"] #keyboardDragger{
  background: #f4f4f4;
}
#keyboardDiv[color="white"] .aftan-keyboard-key{
  color: #424242;
  background-color: #fff;
	border-radius: 1px;
  /*transition: font-size 0.4s, box-shadow 0.4s;*/
}
#keyboardDiv[color="white"] .aftan-keyboard-key[clicked = 'true'] {
	box-shadow: inset 1px 1px 0px #0b0b0b, inset -1px -1px 0px #0b0b0b;
  background-color: #f6f6f6;
  color: #000;
}

/*************      1x  WHITE    *************/
#keyboardDiv[color="white"][size="1x"]{
	width: 485px;
}
#keyboardDiv[color="white"][size="1x"] #aftan-keyboard{
	padding-top: 2px;
	height: 170px;
	font-size: 15px;
}
#keyboardDiv[color="white"][size="1x"] #keyboardDragger{
  height: 25px;
  position: relative;
  font-size: 14px;
}
#keyboardDiv[color="white"][size="1x"]  #languageTitle{
	letter-spacing: 3px;
  line-height: 27px;
  padding-left: 10px;
	width: 43px;
}
#keyboardDiv[color="white"][size="1x"] .aftan-keyboard-line{
  margin-top: 2px;
  margin-left: 4px;
}
#keyboardDiv[color="white"][size="1x"] .aftan-keyboard-line:first-child{  margin-top: 0px; }
#keyboardDiv[color="white"][size="1x"] .aftan-keyboard-key{
  margin-left: 2px;
  width: 31px;
  height: 31px;
  line-height: 27px;
	border: 1px solid #cdcdcd;
	border-radius: 1px;
}
#keyboardDiv[color="white"][size="1x"] .aftan-keyboard-key[clicked = 'true'] { font-size: 14px; }
#keyboardDiv[color="white"][size="1x"] .aftan-keyboard-key:first-child{ margin-left: 0 }
#keyboardDiv[color="white"][size="1x"] .aftan-keyboard-key[sidein="left"]{	padding-left: 10px }
#keyboardDiv[color="white"][size="1x"]  .aftan-keyboard-key[sidein="right"]{	padding-right: 10px }
#keyboardDiv[color="white"][size="1x"] .keyBackspace,
	#keyboardDiv[color="white"][size="1x"] .keyDelete{	width: 46px }
#keyboardDiv[color="white"][size="1x"] .keyNextLanguage{	width: 105px }
#keyboardDiv[color="white"][size="1x"] .keySpace{	width: 262px }
#keyboardDiv[color="white"][size="1x"] .keyAddit{	width: 104px }
#keyboardDiv[color="white"][size="1x"] .keyCaps,
  #keyboardDiv[color="white"][size="1x"] .keyEnter{	width: 55px }
#keyboardDiv[color="white"][size="1x"] .keyShift[sidein="left"]{ width: 72px }
#keyboardDiv[color="white"][size="1x"] .keyShift[sidein="right"]{ width: 71px }


/*************      1.5x  WHITE    *************/
#keyboardDiv[color="white"][size="1.5x"]{
	width: 733px;
}
#keyboardDiv[color="white"][size="1.5x"] #aftan-keyboard{
	padding-top: 3px;
	height: 262px;
	font-size: 21px;
}
#keyboardDiv[color="white"][size="1.5x"] #keyboardDragger{
  height: 38px;
  position: relative;
  font-size: 21px;
}
#keyboardDiv[color="white"][size="1.5x"]  #languageTitle{
	letter-spacing: 5px;
  line-height: 38px;
  padding-left: 14px;
	width: 43px;
}
#keyboardDiv[color="white"][size="1.5x"] .aftan-keyboard-line{
  margin-top: 5px;
  margin-left: 9px;
}
#keyboardDiv[color="white"][size="1.5x"] .aftan-keyboard-line:first-child{  margin-top: 0px; }
#keyboardDiv[color="white"][size="1.5x"] .aftan-keyboard-key{
  margin-left: 4px;
  width: 46px;
  height: 46px;
  line-height: 40px;
	border: 2px solid #cdcdcd;
	border-radius: 3px;
}
#keyboardDiv[color="white"][size="1.5x"] .aftan-keyboard-key:first-child{ margin-left: 0 }
#keyboardDiv[color="white"][size="1.5x"] .aftan-keyboard-key[sidein="left"]{	padding-left: 10px }
#keyboardDiv[color="white"][size="1.5x"]  .aftan-keyboard-key[sidein="right"]{	padding-right: 10px }
#keyboardDiv[color="white"][size="1.5x"] .keyBackspace,
	#keyboardDiv[color="white"][size="1.5x"] .keyDelete{	width: 61px }
#keyboardDiv[color="white"][size="1.5x"] .keySpace{	width: 396px }
#keyboardDiv[color="white"][size="1.5x"] .keyNextLanguage,
  #keyboardDiv[color="white"][size="1.5x"] .keyAddit{	width: 154px }
  #keyboardDiv[color="white"][size="1.5x"] .keyCaps{	width: 78px }
#keyboardDiv[color="white"][size="1.5x"] .keyEnter{	width: 79px }
#keyboardDiv[color="white"][size="1.5x"] .keyShift{ width: 104px }


/*************      1.7x  WHITE    *************/
#keyboardDiv[color="white"][size="1.7x"]{
	width: 863px;
}
#keyboardDiv[color="white"][size="1.7x"] #aftan-keyboard{
	padding-top: 3px;
	height: 306px;
	font-size: 26px;
}
#keyboardDiv[color="white"][size="1.7x"] #keyboardDragger{
  height: 45px;
  position: relative;
  font-size: 28px;
}
#keyboardDiv[color="white"][size="1.7x"]  #languageTitle{
	letter-spacing: 6px;
  line-height: 45px;
  padding-left: 16px;
	width: 51px;
}
#keyboardDiv[color="white"][size="1.7x"] .aftan-keyboard-line{
  margin-top: 3px;
  margin-left: 9px;
}
#keyboardDiv[color="white"][size="1.7x"] .aftan-keyboard-line:first-child{  margin-top: 0px; }
#keyboardDiv[color="white"][size="1.7x"] .aftan-keyboard-key{
  margin-left: 3px;
  width: 56px;
  height: 56px;
  line-height: 55px;
	border: 2px solid #cdcdcd;
	border-radius: 3px;
}
#keyboardDiv[color="white"][size="1.7x"] .aftan-keyboard-key:first-child{ margin-left: 0 }
#keyboardDiv[color="white"][size="1.7x"] .aftan-keyboard-key[sidein="left"]{	padding-left: 10px }
#keyboardDiv[color="white"][size="1.7x"]  .aftan-keyboard-key[sidein="right"]{	padding-right: 10px }
#keyboardDiv[color="white"][size="1.7x"] .keyBackspace,
	#keyboardDiv[color="white"][size="1.7x"] .keyDelete{	width: 74px }
#keyboardDiv[color="white"][size="1.7x"] .keySpace{	width: 468px }
#keyboardDiv[color="white"][size="1.7x"] .keyNextLanguage{	width: 184px }
#keyboardDiv[color="white"][size="1.7x"] .keyAddit{	width: 183px }
#keyboardDiv[color="white"][size="1.7x"] .keyCaps{	width: 94px }
#keyboardDiv[color="white"][size="1.7x"] .keyEnter{	width: 95px }
#keyboardDiv[color="white"][size="1.7x"] .keyShift{ width: 124px }

/*************      2x  WHITE    *************/
#keyboardDiv[color="white"][size="2x"]{
	width: 1017px;
}
#keyboardDiv[color="white"][size="2x"] #aftan-keyboard{
	padding-top: 4px;
	height: 350px;
	font-size: 30px;
}
#keyboardDiv[color="white"][size="2x"] #keyboardDragger{
  height: 50px;
  position: relative;
  font-size: 28px;
}
#keyboardDiv[color="white"][size="2x"]  #languageTitle{
	letter-spacing: 6px;
  line-height: 54px;
  padding-left: 20px;
	width: 83px;
}
#keyboardDiv[color="white"][size="2x"] .aftan-keyboard-line{
  margin-top: 4px;
  margin-left: 12px;
}
#keyboardDiv[color="white"][size="2x"] .aftan-keyboard-line:first-child{  margin-top: 0px; }
#keyboardDiv[color="white"][size="2x"] .aftan-keyboard-key{
  margin-left: 5px;
  width: 64px;
  height: 64px;
  line-height: 54px;
	border: 2px solid #cdcdcd;
	border-radius: 5px;
}
#keyboardDiv[color="white"][size="2x"] .aftan-keyboard-key:first-child{ margin-left: 0 }
#keyboardDiv[color="white"][size="2x"] .aftan-keyboard-key[sidein="left"]{	padding-left: 20px }
#keyboardDiv[color="white"][size="2x"]  .aftan-keyboard-key[sidein="right"]{	padding-right: 20px }
#keyboardDiv[color="white"][size="2x"] .keyBackspace,
	#keyboardDiv[color="white"][size="2x"] .keyDelete{	width: 92px }
#keyboardDiv[color="white"][size="2x"] .keySpace{	width: 547px }
#keyboardDiv[color="white"][size="2x"] .keyNextLanguage,
  #keyboardDiv[color="white"][size="2x"] .keyAddit{	width: 216px }
#keyboardDiv[color="white"][size="2x"] .keyCaps{	width: 112px }
  #keyboardDiv[color="white"][size="2x"] .keyEnter{	width: 113px }
#keyboardDiv[color="white"][size="2x"] .keyShift{ width: 147px }


/*************    TRANSPERENT BLUE    *************/
#keyboardDiv[color="transperent_blue"]{
	color: #fcfcfc;
  background: rgba(46, 70, 242, 0.8);
  border: 1px solid #4570FC;
}
#keyboardDiv[color="transperent_blue"] .aftan-keyboard-key[clicked = 'true'] {
  /*box-shadow: inset 1px 1px 2px #4570FC, inset -1px -1px 2px #4570FC;*/
  background: #4570FC;
  color: #fff;
}
#keyboardDiv[color="transperent_blue"] .aftan-keyboard-key{
  background: rgba(46, 70, 242, 0.2);
  border: 1px solid #4570FC;
}

/*************      1x TRANSPERENT BLUE  *************/
#keyboardDiv[color="transperent_blue"][size="1x"]{
	width: 453px;
}
#keyboardDiv[color="transperent_blue"][size="1x"] #aftan-keyboard{
	height: 156px;
	font-size: 15px;
	padding-top: 1px;
}
#keyboardDiv[color="transperent_blue"][size="1x"] #keyboardDragger{
  height: 25px;
  position: relative;
  font-size: 14px;
}
#keyboardDiv[color="transperent_blue"][size="1x"]  #languageTitle{
	letter-spacing: 3px;
  line-height: 27px;
  padding-left: 10px;
	width: 400px;
}
#keyboardDiv[color="transperent_blue"][size="1x"] .aftan-keyboard-line{
  margin-top: 1px;
}
#keyboardDiv[color="transperent_blue"][size="1x"] .aftan-keyboard-line:first-child{  margin-top: 0px; }
#keyboardDiv[color="transperent_blue"][size="1x"] .aftan-keyboard-key{
  margin-left: 1px;
  width: 30px;
  height: 30px;
  line-height: 27px;
}
#keyboardDiv[color="transperent_blue"][size="1x"] .aftan-keyboard-key[clicked = 'true'] { font-size: 14px; }
#keyboardDiv[color="transperent_blue"][size="1x"] .aftan-keyboard-key[sidein="left"]{	padding-left: 10px }
#keyboardDiv[color="transperent_blue"][size="1x"]  .aftan-keyboard-key[sidein="right"]{	padding-right: 10px }
#keyboardDiv[color="transperent_blue"][size="1x"] .keyBackspace,
	#keyboardDiv[color="transperent_blue"][size="1x"] .keyDelete{	width: 46px }
#keyboardDiv[color="transperent_blue"][size="1x"] .keySpace{	width: 247px }
#keyboardDiv[color="transperent_blue"][size="1x"] .keyNextLanguage,
  #keyboardDiv[color="transperent_blue"][size="1x"] .keyAddit{	width: 100px }
#keyboardDiv[color="transperent_blue"][size="1x"] .keyCaps{	width: 53px }
#keyboardDiv[color="transperent_blue"][size="1x"] .keyEnter{	width: 54px }
#keyboardDiv[color="transperent_blue"][size="1x"] .keyShift{ width: 69px }

/*************      1.5x TRANSPERENT BLUE  *************/
#keyboardDiv[color="transperent_blue"][size="1.5x"]{
	width: 684px;
}
#keyboardDiv[color="transperent_blue"][size="1.5x"] #aftan-keyboard{
	height: 235px;
	font-size: 24px;
}
#keyboardDiv[color="transperent_blue"][size="1.5x"] #keyboardDragger{
  height: 38px;
  position: relative;
  font-size: 21px;
}
#keyboardDiv[color="transperent_blue"][size="1.5x"]  #languageTitle{
	letter-spacing: 4px;
  line-height: 41px;
  padding-left: 15px;
	width: 43px;
}
#keyboardDiv[color="transperent_blue"][size="1.5x"] .aftan-keyboard-line{
  margin-top: 2px;
}
#keyboardDiv[color="transperent_blue"][size="1.5x"] .aftan-keyboard-line:first-child{  margin-top: 0px; }
#keyboardDiv[color="transperent_blue"][size="1.5x"] .aftan-keyboard-key{
  margin-left: 2px;
  width: 45px;
  height: 45px;
  line-height: 41px;
}
#keyboardDiv[color="transperent_blue"][size="1.5x"] .aftan-keyboard-key:first-child{ margin-left: 1px }
#keyboardDiv[color="transperent_blue"][size="1.5x"] .aftan-keyboard-key[sidein="left"]{	padding-left: 15px }
#keyboardDiv[color="transperent_blue"][size="1.5x"]  .aftan-keyboard-key[sidein="right"]{	padding-right: 15px }
#keyboardDiv[color="transperent_blue"][size="1.5x"] .keyBackspace,
	#keyboardDiv[color="transperent_blue"][size="1.5x"] .keyDelete{	width: 69px }
#keyboardDiv[color="transperent_blue"][size="1.5x"] .keyNextLanguage,
  #keyboardDiv[color="transperent_blue"][size="1.5x"] .keyAddit{	width:151px }
#keyboardDiv[color="transperent_blue"][size="1.5x"] .keySpace{	width: 374px }
#keyboardDiv[color="transperent_blue"][size="1.5x"] .keyCaps{	width: 80px }
#keyboardDiv[color="transperent_blue"][size="1.5x"] .keyEnter{	width: 81px }
#keyboardDiv[color="transperent_blue"][size="1.5x"] .keyShift{ width: 104px }

/*************      1.7x TRANSPERENT BLUE  *************/
#keyboardDiv[color="transperent_blue"][size="1.7x"]{
	width: 816px;
}
#keyboardDiv[color="transperent_blue"][size="1.7x"] #aftan-keyboard{
	height: 280px;
	font-size: 29px;
}
#keyboardDiv[color="transperent_blue"][size="1.7x"] #keyboardDragger{
  height: 46px;
  position: relative;
  font-size: 25px;
}
#keyboardDiv[color="transperent_blue"][size="1.7x"]  #languageTitle{
	letter-spacing: 4px;
  line-height: 49px;
  padding-left: 15px;
	width: 51px;
}
#keyboardDiv[color="transperent_blue"][size="1.7x"] .aftan-keyboard-line{
  margin-top: 2px;
}
#keyboardDiv[color="transperent_blue"][size="1.7x"] .aftan-keyboard-line:first-child{  margin-top: 0px; }
#keyboardDiv[color="transperent_blue"][size="1.7x"] .aftan-keyboard-key{
  margin-left: 2px;
  width: 54px;
  height: 54px;
  line-height: 49px;
}
#keyboardDiv[color="transperent_blue"][size="1.7x"] .aftan-keyboard-key[sidein="left"]{	padding-left: 15px }
#keyboardDiv[color="transperent_blue"][size="1.7x"]  .aftan-keyboard-key[sidein="right"]{	padding-right: 15px }
#keyboardDiv[color="transperent_blue"][size="1.7x"] .keyBackspace,
	#keyboardDiv[color="transperent_blue"][size="1.7x"] .keyDelete{	width: 82px }
#keyboardDiv[color="transperent_blue"][size="1.7x"] .keyNextLanguage,
  #keyboardDiv[color="transperent_blue"][size="1.7x"] .keyAddit{	width:180px }
#keyboardDiv[color="transperent_blue"][size="1.7x"] .keySpace{	width: 446px }
#keyboardDiv[color="transperent_blue"][size="1.7x"] .keyCaps{	width: 95px }
#keyboardDiv[color="transperent_blue"][size="1.7x"] .keyEnter{	width: 97px }
#keyboardDiv[color="transperent_blue"][size="1.7x"] .keyShift{ width: 124px }

/*************      2x TRANSPERENT BLUE  *************/
#keyboardDiv[color="transperent_blue"][size="2x"]{
	width: 904px;
}
#keyboardDiv[color="transperent_blue"][size="2x"] #aftan-keyboard{
	height: 310px;
	font-size: 30px;
}
#keyboardDiv[color="transperent_blue"][size="2x"] #keyboardDragger{
  height: 50px;
  position: relative;
  font-size: 28px;
}
#keyboardDiv[color="transperent_blue"][size="2x"]  #languageTitle{
	letter-spacing: 6px;
  line-height: 54px;
  padding-left: 20px;
	width: 86px;
}
#keyboardDiv[color="transperent_blue"][size="2x"] .aftan-keyboard-line{
  margin-top: 2px;
}
#keyboardDiv[color="transperent_blue"][size="2x"] .aftan-keyboard-line:first-child{  margin-top: 0px; }
#keyboardDiv[color="transperent_blue"][size="2x"] .aftan-keyboard-key{
  margin-left: 2px;
  width: 60px;
  height: 60px;
  line-height: 54px;
}
#keyboardDiv[color="transperent_blue"][size="2x"] .aftan-keyboard-key[sidein="left"]{	padding-left: 20px }
#keyboardDiv[color="transperent_blue"][size="2x"]  .aftan-keyboard-key[sidein="right"]{	padding-right: 20px }
#keyboardDiv[color="transperent_blue"][size="2x"] .keyBackspace,
	#keyboardDiv[color="transperent_blue"][size="2x"] .keyDelete{	width: 92px }
#keyboardDiv[color="transperent_blue"][size="2x"] .keyNextLanguage{	width: 200px }
#keyboardDiv[color="transperent_blue"][size="2x"] .keySpace{	width: 494px }
#keyboardDiv[color="transperent_blue"][size="2x"] .keyAddit{	width: 200px }
#keyboardDiv[color="transperent_blue"][size="2x"] .keyCaps,
  #keyboardDiv[color="transperent_blue"][size="2x"] .keyEnter{	width: 107px }
#keyboardDiv[color="transperent_blue"][size="2x"] .keyShift{ width: 138px }
